.header-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 320px) {
        flex-direction: column;
    }

    &__total {
        font-size: 20px;
    }
}