:root{
    --color-brandeis-blue: #0D6EFD;
    --color-white: #FFFFFF;
    --color-cloud: #C5C5C5;
    --color-black: #000000;
    --color-saffron-mango: #FFC65D;
}

// Page used for name colors https://colors.artyclick.com/color-name-finder/