.content-footer {
    margin-top: 50px;
    box-shadow: 1px 1px 15px darken(#c5c5c5, 30);

}

ul {
    display: flex;
}

li {
    margin-top: 10px;
    margin-right: 25px;
}

.link {
    text-decoration: none;
    color: var(----color-black);

    &:hover {
        text-decoration: underline;
    }
}

.rights-reserved {
    margin-top: 10px;

    &__text {
        text-align: center;
    }
}

.social-icon {
    width: 32px;
    height: 32px;
    box-shadow: 1px 1px 15px darken(#c5c5c5, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;



    &__img {
        border-radius: 50%;
        width: 30px;

        &--twiter{
            border-radius: 0;
            max-width: 20px;
        }
    }
}